<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' /><!--This imports the css file to style the page -->
    </head>
    <body>
        <header>
            <div class="header">
                <ul class="nv-l">
                    <div id="logo">
                        <li><a href="/"><img src="https://media.wired.com/photos/59a4a3620e12027bab894469/master/w_2560%2Cc_limit/datausage-TA.jpg" height="30" width="30" /></a></li>
                    </div>                      
                    <li><a href="/feedback/create">Submit Daily Usage</a></li>
                    <li><a href="/feedback/find">Find Daily Usage</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </div>
        </header> <!--This creates the header which is in use in every file -->

