<!DOCTYPE html>
<html>
<% include partials/head %>  <!--This imports the css and the header-->
      <h1>We are a Data Collecting Company&hellip;</h1>
          <h3>We like to collect data, data is very valuable to use.. that is all we do. We do sell this data to multiple different socal media and advertising Companies to help them,</h3>
</body>
</html> <!--This displays the about us page-->