<!DOCTYPE html>
<html>
<% include partials/head %> <!--This imports the css and the header-->
      <h1>Deleted!</h1>
          <h3>This user has been deleted! Please go back by clicking the Logo Image to return back to the home screen!</h3>
</body>
</html> <!--This displays the deleted page-->