<!DOCTYPE html>
<html>
    <head>
        <title>Help Page</title>
        <% include partials/head %> <!--This imports the css and the header-->
    </head>
      <h1>Need Help?</h1>
          <h3>Use the "Submit Data Usage" button and fill in your information about your phone usage divided into types of usage and click submit! That is all!</h3>
          <h3>If you would like to find and update your existing reports please use the "Find Data Usage" button and enter your name into the text box, click the button and then click the edit button and make as much changes as you need.</h3>
          <h3>If you would like to delete an existing report, please use the "Find Data Usage" button and enter your name and click the button and then click the delete button to delete the report you want</h3>
          <h3>If you want to know about us, check out our "About Us" page using the button above.</h3>
          <h3>For any more help required, please feel free to email us at <a href = "mailto: phoneusageweb@gmail.com">this email</a></h3>
</body>
</html> <!--This displays the help page-->