<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <% include partials/head %> <!--This imports the css and the header-->
</head>
<body class="index">
      <h1>Phone Usage Records</h1>
      <h2>Welcome to the site!</h2>
      <h3> Do you want to know how much you use your phone a day?
       Aren't you spending too much time on your phone?
      Do you think you're addicted to phone?</h3>
        <br></br>
      <h3> If you answered yes, our website can help you with your worries.</h3>
</body>
</html> <!--This displays the home page-->