<!DOCTYPE html>
<html>
    <head>
        <title>No Page</title>
        <% include partials/head %> <!--This imports the css and the header-->
    </head>
      <h1>Go Back!</h1>
          <h3>This user does not exist! So please go back by pressing the back button in your browser or by clicking the "Find Data Usage" button to return back to where you were!</h3>
</body>
</html> <!--This displays when the user tries to find a user that does not exist in the database using the find page -->