<!DOCTYPE html>
<html>
    <head>
        <title>Usage Submitted Page</title>
        <% include partials/head %> <!--This imports the css and the header-->
    </head>
      <h1>Phone Usage Submitted!</h1>
          <h3>Thank you for using our website! Your data has been added or edited and added to our database. To make changes to your data, please use the "Find Data Usage" button on our navigation bar. Just search your name and edit or delete your data!</h3>
</body>
</</html> <!--This displays the Usage Submitted page-->> 